*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color : rgb(11, 78, 179);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* global Styling  */
label{
    display: block;
    margin-bottom: 0.5rem;
}
input{
    display: block;
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem ;
}

.width-50{
    width: 50%;
}
.ml-auto{
   margin-left: auto; 
}
.text-center{
    text-align: center;
}

/* Form */
.form{
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
}

.input-group{
    margin: 2rem 0;
}

.btn{
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center ;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color)  ;
}